openpyxl==3.1.5
accelerate==1.12.0
portalocker==3.2.0
tinydb==4.8.2
pandas==2.3.3
numpy==2.3.3
flask==3.1.2
flask-cors==6.0.1
chromadb==1.2.1
langchain==0.3.27
langchain-community==0.3.30
langchain-huggingface==0.3.1
langchain-chroma==0.2.6
langchain-core==0.3.77
sentence-transformers==5.2.1
openai==2.0.1

