{% extends 'template.htm' %}

{% block h1_title %}Integration{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="/integrations/">
  <label><p>Wählen Sie den Datensatz (*.xls, *.xlsx, *.csv oder *.json) von Ihrem Rechner aus.</p>
    <input name="file" type="file" size="50" accept=".csv,.xls,.xlsx,.json"> 
  </label>
  {% if message is not none %}
  <p style="color: red">{{message}}</p>
  {% endif %}
  <p>

  <button>Hochladen und verarbeiten</button>
  </p>
</form>
{% endblock %}