{% extends 'template.htm' %}

{% block h1_title %}Integrations{% endblock %}

{% block content %}

<div class="table-responsive">
  <form method="post" action="/integrations_create_filters/">
    <input type="hidden" name="filename" />
  
    <table style="border-spacing: 10px;border-collapse: separate;">
      <tr><th style="margin-right: 20px">Type of Products</th><td><input placeholder="What kind of articles?" name="type" class="form-control"/></td><td style="color: grey">e.g., Board Games</td></tr>
      <tr><th>Number of Examples</th><td><input type="number" placeholder="Articles for filter creation" name="articles" class="form-control"/></td><td style="color: grey">e.g., 100 (>1% of all articles)</td></tr>
    </table><p><br/></p>
  <input type="submit" class="btn btn-primary" value="Speichern und Filter generieren" />  
  </form>
</div>      
 
{% endblock %}

