{% extends 'template.htm' %}

{% block h1_title %}Integration{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="/integrations/">
  <label><p>Please select your dataset (*.xls, *.xlsx, *.csv oder *.json) from your computer.</p>
    <input name="file" type="file" size="50" accept=".csv,.xls,.xlsx,.json"> 
  </label>
  {% if message is not none %}
  <p style="color: red">{{message}}</p>
  {% endif %}
  <p>

  <button>Upload and process</button>
  </p>
</form>
{% endblock %}